* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #e8ecee;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
}

.header {
  text-align: center;
  background: linear-gradient(0.25turn, rgb(82, 219, 185), 40%, rgb(3, 3, 87));
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.search-block h2 {
  font-size: 1.5rem;
}

.search-btn {
  width: 100%;
  height: 2rem;
  color: white;
  background: rgb(106, 162, 236);
  border-radius: 4px;
  border: none;
  margin-top: 10px;
}

svg {
  height: 1em;
  width: 1em;
}

.search-window input {
  width: 100%;
}

.search-for-a-city {
  padding-top: 2rem;
}

.city {
  font-size: 2rem;
  /* display: none; */
}

#city-name {
  width: 100%;
}

.city-btn {
  color: white;
  background: rgb(236, 156, 106);
  border-radius: 4px;
  border: none;
  height: 30px;
  margin-top: 10px;
}

.weather {
  padding: 2rem;
  border-radius: 4px;
  margin-top: 4rem;
  background-color: rgb(156, 210, 238);
  display: none;
}

.card-body {
  color: white;
  background: rgb(51, 70, 91);
}

.card {
  border: 0px;
  background-color: #e8ecee;
  width: 15rem;
}

div.card-today.weather-today.col-9 {
  border: 1px;
  border-color: black;
}

.five-day-forecast {
  float: right;
  display: none;
}

.five-day-forecast h2 {
  display: block;
}

.day-card {
  font-size: 1.25rem;
}

@media (max-width: 1280px) {
}
