* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #e8ecee;
}

.two-colums {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
}

.header {
  text-align: center;
  background: linear-gradient(0.25turn, rgb(82, 219, 185), 40%, rgb(3, 3, 87));
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.search-block {
  width: 100%;
  margin-left: 4rem;
}

.search-block h2 {
  font-size: 1.5rem;
}

.search-btn {
  width: 100%;
  height: 2rem;
  color: white;
  background: rgb(106, 162, 236);
  border-radius: 4px;
  border: none;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

svg {
  height: 1em;
  width: 1em;
}

.search-column {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding-right: 2rem;
}

.search-window input {
  width: 100%;
}

.search-for-a-city {
  padding-top: 2rem;
}

.city {
  font-size: 2rem;
  /* display: none; */
}

#city-name {
  width: 100%;
}

.city-btn {
  color: white;
  background: rgb(236, 156, 106);
  border-radius: 4px;
  border: none;
  height: 2rem;
  margin-left: 4rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.today-and-forecast {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.weather {
  padding: 2rem;
  border-radius: 4px;
  margin-top: 3.25rem;
  margin-left: 3rem;
  background-color: rgb(156, 210, 238);
  display: none;
}

.card-body {
  color: white;
  background: rgb(51, 70, 91);
  border-radius: 4px;
}

.card {
  border: 0px;
  background-color: #e8ecee;
}

.weather-today {
  width: 80%;
}

.five-day-forecast {
  display: none;
  width: 90%;
  padding-left: 2.25rem;
}

.five-day-forecast h2 {
  display: block;
  padding-top: 3rem;
  padding-left: 5rem;
}

.day-card {
  font-size: 1.25rem;
  border-radius: 5px;
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
  .day-card {
    font-size: 1rem;
  }
  #temp-forecast {
    font-size: 0.75rem;
  }
  #wind-forecast {
    font-size: 0.75rem;
  }
  #humidity-forecast {
    font-size: 0.75rem;
  }
}

@media (max-width: 768px) {
  .search-block,
  .city-btn {
    margin-left: 2rem;
  }
}

@media (max-width: 640px) {
}
