* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  height: 100vh;
}

body {
  background-color: #e8ecee;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.two-columns {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  flex: 1 0 auto;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
}

.header {
  text-align: center;
  background: linear-gradient(0.25turn, rgb(82, 219, 185), 40%, rgb(3, 3, 87));
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.search-label {
  display: none;
}

.search-block {
  width: 100%;
  margin-left: 4rem;
}

.search-block h2 {
  font-size: 1.5rem;
}

.search-btn {
  width: 100%;
  height: 2rem;
  color: white;
  background: rgb(106, 162, 236);
  border-radius: 4px;
  border: none;
  margin-top: 1rem;
  margin-bottom: 2rem;
  box-shadow: 2px 4px 4px gray;
}

.search-btn:hover {
  box-shadow: none;
}

svg {
  height: 1em;
  width: 1em;
}

.search-column {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 5rem;
}

.search-window input {
  width: 100%;
}

.search-for-a-city {
  padding-top: 2rem;
}

.city {
  font-size: 2rem;
  /* display: none; */
}

#city-name {
  width: 100%;
}

.city-btn {
  color: white;
  background: rgb(236, 156, 106);
  border-radius: 4px;
  border: none;
  height: 2rem;
  margin-left: 4rem;
  margin-bottom: 0.5rem;
  width: 100%;
  box-shadow: 2px 4px 4px gray;
}

.city-btn:hover {
  box-shadow: none;
}

.today-and-forecast {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.weather {
  padding: 2rem;
  border-radius: 4px;
  margin-top: 3.25rem;
  margin-left: 3rem;
  background-color: rgb(156, 210, 238);
  display: none;
  box-shadow: 2px 4px 4px gray;
}

.card-body {
  color: white;
  background: rgb(90, 107, 128);
  border-radius: 4px;
  box-shadow: 2px 4px 4px gray;
}

.card {
  border: 0px;
  background-color: #e8ecee;
}

.weather-today {
  width: 80%;
  height: 60%;
}

.five-day-forecast {
  display: none;
  width: 90%;
  padding-left: 2.25rem;
}

.five-day-forecast h2 {
  display: block;
  padding-top: 3rem;
  padding-left: 3rem;
}

.day-card {
  font-size: 1.25rem;
  border-radius: 5px;
}

footer {
  background: linear-gradient(0.25turn, rgb(82, 219, 185), 40%, rgb(3, 3, 87));
  height: 5rem;
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-end;
  /* position: fixed; */
  bottom: 0;
  margin-top: 2rem;
  flex-shrink: 0;
}

.footer-copyright {
  display: flex;
}

.footer-copyright h3 {
  padding: 1rem;
}

.fa-copyright {
  font-size: 2rem;
  padding-top: 1rem;
}

@media (max-width: 1280px) {
  .five-day-forecast {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  #temp-forecast {
    font-size: 0.6rem;
  }
  #wind-forecast {
    font-size: 0.6rem;
  }
  #humidity-forecast {
    font-size: 0.6rem;
  }
}

@media (max-width: 768px) {
  .search-block,
  .city-btn {
    margin-left: 2rem;
  }
  .search-column {
    width: 30%;
    padding-right: 0;
  }
  .weather {
    margin-left: 3.4rem;
  }
  .weather-today {
    width: 96%;
  }
  .forecast-cards {
    display: flex;
    flex-direction: column;
  }
  .card-body {
    margin: 0.5rem;
  }
}

@media (max-width: 640px) {
  .weather-today {
    width: 95%;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }
  .two-columns {
    flex-direction: column;
    align-items: center;
  }
  .weather-today {
    width: 100%;
  }
  .search-block {
    margin-left: 0;
  }
  .search-column {
    width: 60%;
    margin-right: 0;
  }
  .weather {
    margin-left: 0;
    padding: 1rem;
  }
  .five-day-forecast h2 {
    padding-left: 0;
  }
  .five-day-forecast {
    padding-left: 0;
  }
  .row > * {
    padding-left: 0;
  }
  #temp-forecast {
    font-size: 1rem;
  }
  #wind-forecast {
    font-size: 1rem;
  }
  #humidity-forecast {
    font-size: 1rem;
  }
  .footer-copyright h3 {
    padding: 1rem 1rem 1rem 0.5rem;
  }
}
@media (max-width: 376px) {
  .five-day-forecast h2 {
    padding-left: 2rem;
  }
}
@media (max-width: 281px) {
  h1 {
    font-size: 2rem;
  }
  .city {
    font-size: 1.5rem;
  }
  .weather-today {
    width: 90%;
  }
  .icon {
    width: 3rem;
  }
  .temp,
  .wind {
    font-size: 0.5rem;
  }
  .five-day-forecast h2 {
    padding-left: 3rem;
  }
}
